body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3 {
  color: #2e2f42;
}
.link {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style-type: none;
}
.logo-web {
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3%;
  line-height: calc(21 / 18);
}
.logo-studio {
  color: #2e2f42;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: calc(21 / 18);
}
.nav .link {
  color: inherit;
  font-weight: 500;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 2%;
}
.address .link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 4%;
}
