body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #2e2f42;
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-container {
  align-items: center;
}
.container-header {
  gap: 40px;
}
.header-in-row,
.nav-container,
.container-header {
  display: flex;
}
.header-in-row {
  justify-content: space-between;
}
.address {
  font-style: normal;
  display: flex;
}
.address-links-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .nav-link:hover,
.nav .nav-link:focus,
.nav .nav-link:active {
  color: #404bbf;
}
.address .link:hover,
.address .link:focus,
.address .link:active {
  color: #404bbf;
}

.nav .logo-web {
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  font-style: normal;
}
.nav .logo-studio {
  color: #2e2f42;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address .link {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/4-people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  display: block;
  justify-content: center;
  max-width: 1440px;
}
.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  max-width: 100%;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  padding: 16px 32px;
  flex-direction: center;
  margin-top: 48px;
  min-width: 169px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.adv-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-div {
  gap: 24px;
}
.adv-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.logo-studio-footer {
  color: #f4f4fd;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: calc(21 / 18);
}
.logo {
  text-decoration: none;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio-header {
  color: #2e2f42;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: calc(21 / 18);
}
.portfolio-section {
  padding: 120px 0 120px 0;
}
.portfolio-subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.app-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.app-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-div {
  gap: 24px;
}
.team-div,
.portfolio-div,
.adv-div {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 72px) / 4);
}
.our-team {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}
.our-team-subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.adv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-member-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-member-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-div {
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-text-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.footer-logo-flexbox {
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.footer {
  background-color: #2e2f42;
  color: #fff;
  padding: 100px 0;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
}
.footer-row {
  display: flex;
  gap: 120px;
}
.footer-links-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.footer-social-media-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.advan-icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-social-icon:hover {
  fill: #31d0aa;
}
